*{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(20, 14, 14);
}

header{
    width: 100%;
    height: auto;
}

nav{
   width: 100%;
   height: auto; 
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


h2{
    margin-left: 70px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.corpo-link{
    padding: 20px;
}
.link:hover{
    color: rgb(0, 255, 0)
}

.titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.sobre{
    width: 100%;
    height: auto;
}

.sobre div{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.foto {
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgb(0, 255, 0);
}

.Portifolio {
    display: flex;
    justify-content: center;
    gap: 40px; 
    list-style: none;
    padding: 30px; 
    margin: 20px 0; 
    border-radius: 15px; 
}

.Portifolio li {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
}

.Portifolio li:hover {
    transform: translateY(-10px) scale(1.05);
}

.Portifolio img {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 100px; 
    height: 100px;
}

.Portifolio img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.Portifolio a:hover img {
    filter: brightness(1.1);

}