*{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(20, 14, 14);
}

header{
    width: 100%;
    height: auto;
}

nav{
   width: 100%;
   height: auto; 
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


h2{
    margin-left: 70px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.corpo-link{
    padding: 20px;
}
.link:hover{
    color: rgb(0, 255, 0)
}

.titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.sobre{
    width: 100%;
    height: auto;
}

.sobre div{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.foto {
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgb(0, 255, 0);
}

.Portifolio{
    
}


